<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://o9slcszsf.bkt.clouddn.com/NewT66y.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://o9slcszsf.bkt.clouddn.com/NewT66y-AppIcon60x60@2x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://o9slcszsf.bkt.clouddn.com/NewT66y-AppIcon60x60@2x.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cl.NewT66y.---</string>
				<key>bundle-version</key>
				<string>2.2.2</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>小草</string>
				<key>title</key>
				<string>小草</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>